.box-edit-background {
    background-image: url('https://res.cloudinary.com/dqesvgqq9/image/upload/v1539883691/paintbrush_1.png') 0.5;
    background-repeat: no-repeat;
}

.box-edit-profile {
    margin: 20px 480px;
}